__pycache__
.DS_Store
*/.DS_Store
.vscode
*/.vscode

notes.txt

# Holds the secret key for the flask app
app_config.py

# Holds MongoDB database connection URL/db name
data_processing/db_config.py

# Export used to repopulate MongoDB collection to avoid re-crawling, too large to push remote
data_processing/data/ratings_export.csv

# Model output from build_model.py, too large to push to remote
data_processing/models/mini_model.pkl

node_modules
frontend/node_modules


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

credentials