[tool.ruff]
line-length = 88
target-version = "py312"

[tool.ruff.lint]
extend-select = ["I"]     # import sorting
ignore = ["E501"]         # allow long lines

[tool.ruff.format]
indent-style = "space"
quote-style = "double"
line-ending = "lf"

[tool.pytest.ini_options]
pythonpath = ["."]