Cython >= 0.28.5
scikit-learn >= 0.23.2
requests >= 2.25.0
beautifulsoup4 >= 4.9.3
asyncio >= 3.4.3
aiohttp >= 3.7.3
pymongo >= 3.12.0
dnspython >= 2.0.0
motor >= 2.3.0
lxml >= 4.6.2
scikit-surprise >= 1.1.1
numpy >= 1.19.4
pandas >= 1.1.4
waitress >= 2.0.0
tqdm >= 4.50.2

flask
flask-cors
flask-talisman >= 0.7.0
gunicorn
rq
redis