div.down-notice {
    background-color: rgba(218, 218, 174, 0.4);
    border: 1px solid rgba(20, 20, 20, 0.8);
    border-radius: 3px;

    max-width: 650px;
    box-sizing: border-box;
    padding: 1rem 2rem;

    margin: 1rem auto 1rem;

    @media only screen and (max-width: 674px) {
        margin: 12px 12px 1rem;
        border-radius: 0px;
        font-size: 16px;
    }

    p {
        text-align: left;
    }
}
