@import './settings.scss';

#intro-container {
    text-align: left;
    max-width: 650px;
    margin-top: 2rem;
}

#intro-container .row {
    text-align: center;
}

#intro-container .row.intro-paragraph {
    text-align: left;
    max-width: 580px;

    margin: 32px auto 40px;
    font-family: 'Yantramanav', 'aktiv-grotesk', Inconsolata, Monaco;

    p {
        font-size: 18px;
        line-height: 130%;
    }
}

#intro-container h1 {
    font-size: 44px;
    line-height: 44px;
    font-family: 'Red Hat Display', 'aktiv-grotesk', Inconsolata, Monaco;
    font-weight: 500;
}

@media only screen and (max-width: 700px) {
    #intro-container {
        max-width: 85vw;

        .row.intro-paragraph {
            margin: 24px auto 32px;

            width: 90%;
            max-width: 500px;

            p {
                font-size: 16px;
                line-height: 130%;
            }
        }

        h1 {
            font-size: 32px;
            line-height: 32px;
            font-family: 'Red Hat Display', 'aktiv-grotesk', Inconsolata, Monaco;
            font-weight: 500;
        }
    }
}
