
body {
	/*font-family: "Helvetica Neue",helvetica,arial,sans-serif;*/
	background-color: #f9f9f9;
	/* font-family: 'Inconsolata', Monaco, "Lucida Console", Consolas, "Courier New"; */
	/* font-family: 'Lora', 'Merriweather', 'Playfair Display'; */
	font-family: aktiv-grotesk, 'Inconsolata', Monaco;
}

/*strong { font-weight: extra-bold; }*/

.movie-rec {
	min-width: 250px;
	min-height: 100px;
	padding: 15px 15px;
	background-color: rgba(173,216,230,0.3);
	/* border: 1px solid black; */
    border-radius: 10px;
    margin: 10px 8px;
}

.movie-poster {
	max-height: 70px;
	width: auto;
	margin-right: 10px;
}

.spacer {
	height: 60px;
}

.footer {
    font-size: 10pt;
    padding-top: 40px;
    padding-bottom: 60px;
    min-height: 100vh;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

.icon-img {
	height: 13px;
	width: 13px;
	margin-bottom: 2px;
}