<!DOCTYPE HTML>

<head>
	<meta charset="utf-8">
    <meta name="description" content="">
    <title>Letterboxd Movie Recommendations</title>

    <!-- Primary Meta Tags -->
    <meta name="title" content="">
    <meta name="description" content="">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <!-- <link rel="icon" href='/static/images/favicon.png'> -->

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- jQuery UI CSS -->
    <!-- <script src="static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="static/css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="static/css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="static/css/d3-tip.css">
    <link rel="stylesheet" href="static/css/fstdropdown.css"> -->

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://use.typekit.net/qnl7egi.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/1e59e4c612.js" crossorigin="anonymous"></script>

</head>


<body>
    <div class="spacer"></div>
    <div class="container" style="text-align:left; max-width: 650px;">
        <div class="row" style="text-align: center">
            <h1>Letterboxd Movie Recommendations</h1>
        </div>
        <br>
        <!-- <div class="spacer"></div> -->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!-- <p>Project Description</p> -->
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
  		
	<!-- Bootstrap grid setup -->
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row centered-form">
                <!-- <h4>Get Recommendations</h4> -->
                <form id="recommendation-form">
                    <table>
                        <tbody>
                            <tr>
                                <td><label>Letterboxd Username</label></td>
                                <td><input type="text" name="username" placeholder="Username" id="username-input" required></td>
                            </tr>
                            <tr>
                                <td><label>Exclude Popular Movies?</label></td>
                                <td><input type="checkbox" name="exclude_popular"></td>
                            </tr>
                            <tr>
                                <td><label>Model Strength</label></td>
                                <td><input type="range" id="model-strength-slider" name="model_strength" value="200000" step="100000" min="100000" max="500000"></td>
                            </tr>
                        </tbody>
                    </table>
                    <button id="form-submit-button">Get Recs</button>
                </form>
            </div>
            <div class="row">
                <div id="progress-tracking">
                    <ul id="task-progress-list">
                    </ul>
                </div>
                <div id="results"></div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="container footer" style="text-align:justify; max-width: 650px; font-size: 9pt;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!-- <p>Visualization by Sam Learner.</p> -->
                <p>Visualization by <a href="www.samlearner.com">Sam Learner</a> | <a href="mailto:learnersd@gmail.com"><img class="icon-img" src="/static/images/email.svg"></a> | <a href="https://twitter.com/sam_learner"><img class="icon-img" src="/static/images/twitter.svg"></a> | <a href="https://github.com/sdl60660"><img class="icon-img" src="/static/images/github.png"></a></p>
                <!-- Add project repo link<p>Code and data for this project lives <a href="">here</a>.</p>  -->
                
                <!-- <p>Credits/sources/notes</p> -->

                <!-- <p>Last Updated: July 2020</p> -->
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <script src="https://d3js.org/d3.v6.min.js"></script>
	<!-- Custom JS -->
    <!-- <script src="/static/js/utils.js"></script> -->
	<script src="/static/js/app.js"></script>

</body>

</html>

